* {
    padding: 0;
    margin: 0;
}

.background_image {
    background-image: url("https://media.dev.to/cdn-cgi/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fnphrgz8yfnjylrwfr0yl.png");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image in the div */
    width: 100%; /* Sets the width to 100% of the parent element */
    height: 120px; /* Sets the height to 100% of the viewport height */
}
.box {
    /* flex: 0 1 calc(33.333% - 10px); */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    width: 275px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .rating {
    font-size: 16px;
    color: gold;
    margin-bottom: 10px;
  }
  
  .plus {
    font-size: x-large;
    border-radius: 50%;
    padding: 5px 7px;
    border: 1px solid silver;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .plus:hover {
    background-color: darkblue;
    color: whitesmoke;
  }
  
  .price-plus h3 {
    font-size: 24px;
  }
  .Shop-Styling{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
  }
  input{
    width: 70%;
    align-items: center;padding: 10px;
    border-radius: 10px;
    text-align: center;
   font-weight: bold;
  }
  .inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
